<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  {% include head-custom.html %}

  {% seo %}
</head>

<body>

  <header>
    <div class="container-header">

      <h1>
        <a id="a-title" href="{{ '/' | relative_url }}" class="typewrite" data-period="5000" data-type='["./jones_the_cat"] '>
          <span class="wrap"></span>
          <script src="/assets/js/title.js"></script>
        </a>
      </h1>

      {% if page.url == "/" %}<p><h2>“Ora sta a sentire sorella, non torno a fare quella vita. Sono il libero, ruspante, solitario.<br>E sottolineo libero!” - (Chicken Run, 2000)</h2></p>{% endif %}
    
      <!-- <section id="downloads">
        {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download CV</a>
        {% endif %}
        <a href="{{ site.github.repository_url }}" class="btn btn-github" target="_blank"><span class="icon"></span>View my GitHub</a>
      </section> -->

      <p><section id="nav-bar">
        {% for item in site.data.navigation %}
          <a href="{{ item.link }}" {% if page.url == item.link %}style="color: #b5e853;"{% else %}style="color: #3196ec;"{% endif %}>{{ item.name }}</a>
        {% endfor %}
      </section></p>

    </div>
  </header>

  <div class="container-body">
    <section id="main_content">
      {{ content }}
    </section>
  </div>
</body>

</html>